<web-app>

      <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>



    <servlet>  
    <servlet-name>Go</servlet-name>  
    <servlet-class>Go</servlet-class>  
    </servlet>  
      
    <servlet-mapping>  
    <servlet-name>Go</servlet-name>  
    <url-pattern>/go</url-pattern>  
    </servlet-mapping> 


    <servlet>  
    <servlet-name>Store</servlet-name>  
    <servlet-class>Store</servlet-class>  
    </servlet>  
      
    <servlet-mapping>  
    <servlet-name>Store</servlet-name>  
    <url-pattern>/store</url-pattern>  
    </servlet-mapping>     


    <servlet>
        <servlet-name>Submit</servlet-name>
        <servlet-class>Submit</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Submit</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Command</servlet-name>
        <servlet-class>Command</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Command</servlet-name>
        <url-pattern>/command</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql:///healthhack</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPass</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>homeURL</param-name>
        <param-value>http://localhost:8080/</param-value>
    </context-param>
    <context-param>
        <param-name>homeURI</param-name>
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>uploadLoc</param-name>
        <param-value>/tmp/</param-value>
    </context-param>




</web-app>
